<div style="background-color: rgb(255, 78, 78); padding: 20px;">
  <h1 class="text-white">Productos Angular</h1>
</div>
<router-outlet></router-outlet>
<div style="padding: 30px;">
  <div class="card">
       <div class="card-body">
        <h5>Webapp de productos con Angular</h5>
            <p class="card-text">Gestiona tus productos con la aplicacion web SPA creada con Angular</p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Ver productos</button>
        <button class="btn btn-success" type="button">Añadir productos</button>
      </div>
    </div>
  </div>
</div>
